.content {
  display: grid;
  grid-template-columns: 6fr 6fr;
}
.textContent {
  display: grid;
  grid-template-columns: 5fr 7fr;
}
.subContent {
  display: flex;
  padding: 40px;
  flex-direction: column;
}
.mainServices {
  display: flex;
  flex-direction: row;
  background-color: #f4f1ec;

  padding: 100px 0;
}

.leftColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightColumn {
  display: grid;
  grid-template-columns: 7fr 5fr;
}

.rightColumn img {
  width: 100%;
  object-fit: cover;
  transform: translate(20%, -24%) rotate(0deg);
}
.animation_container {
  width: 100%;
  height: 100%;
}
.animated {
  width: 100%;
  height: 100%;
  animation: 500ms ease 100ms 1 normal both running
    fade-RIGHT-cf10c4e0-1308-44d6-88f4-cea7c5359b93;
}
.X4PhG8hCXLA8fPv {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.Tyoe3f71ZRyS0x7n {
  transform: scale(1, 1);
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: "Times New Roman", Times, serif;
  font-size: 56px;
  font-weight: 500;
  margin-bottom: 20px;
}

.description {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 25px;
  line-height: 1.5;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.button {
  padding: 20px 30px;
  color: black;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  background-color: #cdad7d;
  width: 30%;
  min-width: 200px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
  .mainServices {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .content,
  .textContent,
  .rightColumn {
    grid-template-columns: 1fr;
  }
  .content {
    padding: 20px;
  }
  .rightColumn img {
    margin-top: 20px;
    transform: unset;
  }
}
