:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: black;
  animation: 1000ms ease 100ms 1 normal both running banner_anim,
    400ms linear 0s 1 normal both linear_fade;
}
@keyframes banner_anim {
  0% {
    transform: translate(0px, 80px);
    animation-timing-function: cubic-bezier(0.4, 0.8, 0.74, 1);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes linear_fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body,
html,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-synthesis: none;
  font-kerning: none;
  font-variant-ligatures: none;
  font-feature-settings: "kern" 0, "calt" 0, "liga" 0, "clig" 0, "dlig" 0,
    "hlig" 0;
  font-family: unset;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricprecision;
  white-space: normal;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
