.background {
  width: 100%;
  display: grid;
  grid-template-columns: 6fr 6fr;
  background-image: url("/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* .background {
  filter: brightness(30%);
}
.resetBrightness {
  filter: brightness(100%);
} */

.content {
  display: grid;
  padding-top: 120px;
  padding-bottom: 150px;
  grid-template-columns: 5fr 7fr;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 110px;
}
.bannerIcon {
  display: flex;
  align-items: center;
  color: #cdad7d;
  font-size: 1.4rem;
}

.bannerIcon img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.bannerImg {
  /* filter: brightness(30%); */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textOverlay {
  color: black;
  font-family: "Times New Roman", Times, serif;
}

.title {
  font-weight: 400;
  font-size: 76px;
  margin-bottom: 30px;
  color: #cdad7d;
}

.description {
  font-size: 25px;
  margin-bottom: 40px;
  line-height: 2rem;
  color: white;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.button {
  padding: 15px 30px;
  color: black;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #cdad7d;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
@media (max-width: 768px) {
  .textOverlay {
    padding: 20px;
    position: relative;
  }
  .bannerIcon {
    padding: 20px;
    left: 130px;
  }
  .bannerIcon p {
    font-size: 14px;
  }
  .bannerImg {
    display: none;
  }
  .background {
    background-image: url("/img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: unset;
    grid-template-columns: 1fr;
  }
  .content {
    grid-template-columns: 1fr;
  }
  .title {
    font-size: 41px;
  }
  .description {
    font-size: 17px;
  }
  .button {
    font-size: 14px;
    padding: 10px 20px;
  }
}
